# Archivos de Terraform
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Archivos de entorno
.env
.env.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Archivos de Lambda
*.zip
commit_validator.zip

